/*DEFAULT Bootstrap X-Small devices (portrait phones, less than 576px)*/
.container.container-all {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -50%,
    rgb(180, 163, 245) 100%
  );
  border: none;
  border-radius: 0.94em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: "Raleway", sans-serif;
  margin: 1.5rem auto;
  max-width: 95%;
  padding: 2rem;
}

.city-search-form {
  display: block;
  margin: 0;
}
.form-control {
  border-radius: 1.25em;
}
#search-addon {
  background: rgb(228, 245, 163);
  border: 2px solid rgb(228, 245, 163);
  border-radius: 1.25em;
  transition: all 200ms ease-in-out;
}
#search-addon:hover {
  background: rgba(228, 245, 163, 0.65);
  border: 2px solid rgb(228, 245, 163);
  cursor: pointer;
  opacity: 0.8;
}
.current-btn {
  background: rgb(228, 245, 163);
  border: 2px solid rgb(228, 245, 163);
  border-radius: 1.25em;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 1.1rem;
  line-height: 1.2rem;
  transition: all 200ms ease-in-out;
}
.current-btn:hover {
  background: rgba(228, 245, 163, 0.65);
  border: 2px solid rgb(228, 245, 163);
  cursor: pointer;
}

div.container {
  padding: 0;
}

div.sun-info {
  margin: 0;
  padding: 0;
}
img.icon-sun {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 7.5rem;
}
div.container-city {
  text-align: center;
}
div.city-weather {
  display: inline-block;
  text-align: left;
}
h1 {
  font-size: calc(3.7rem + 0.390625vw);
  margin: 0;
}
.degree {
  font-size: 1.61rem;
  position: relative;
  text-decoration: none;
  top: -1.2rem;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
a.active {
  color: #000;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}
a.active:hover {
  font-weight: bold;
  text-decoration: none;
}

h2 {
  display: inline-block;
  font-size: calc(1.7rem + 0.390625vw);
  font-weight: bold;
  margin: 0;
}

span.country {
  display: inline-block;
  font-size: calc(1.15rem + 0.390625vw);
}

h3 {
  font-size: calc(1rem + 0.390625vw);
  margin: 0;
}

.date {
  font-size: calc(0.9rem + 0.390625vw);
  margin: 0;
}

.min-max-temp {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 3.75em;
  color: #000;
  display: block;
  font-size: calc(0.6rem + 0.390625vw);
  list-style-type: none;
  margin: 0 auto;
  min-height: min-content;
  max-width: max-content;
  text-align: center;
  padding: 0.94rem 0.63rem;
}
.max-temp {
  font-weight: bold;
}

div.forecast-container {
  margin: 1.2rem 0;
}
div.weather-info2 {
  background: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 3.75rem;
  color: #000;
  display: block;
  font-size: calc(0.6rem + 0.390625vw);
  padding: 0.8rem 0;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}

.quote {
  color: #000;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: calc(1.25rem + 0.390625vw);
  font-weight: 500;
  max-height: fit-content;
  text-align: center;
  text-shadow: 0px 0.2px 0.2px rgba(0, 0, 0, 0.5);
  transition: all 400ms ease-in-out;
}
.quote-of-day {
  margin: 0.4em auto 0 auto;
}

footer p {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
  max-width: 95%;
  text-align: center;
}

/*Bootstrap Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .container.container-all {
    max-width: 70%;
    margin: 1.5rem auto;
    padding: 2.2rem;
  }

  button.current-btn {
    font-size: 1rem;
    padding: 0.12rem 0.27rem;
  }

  div.container-city {
    text-align: left;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.forecast-container {
    margin: 1.5rem 0 1.2rem 0;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
  footer p {
    font-family: "Courier New", Courier, monospace;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
  }
}

/*Bootstrap Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
  .container.container-all {
    max-width: 70%;
    margin: 1.5rem auto;
    padding: 2.2rem;
  }

  button.current-btn {
    font-size: 1rem;
    padding: 0.12rem 0.27rem;
  }

  div.container-city {
    text-align: left;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.forecast-container {
    margin: 1.5rem 0 1.2rem 0;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

/*Bootstrap Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .container.container-all {
    max-width: 60%;
    margin: 1.5rem auto;
    padding: 2.5rem;
  }

  button.current-btn {
    font-size: 1rem;
    padding: 0.12rem 0.27rem;
  }

  div.container-city {
    text-align: left;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.forecast-container {
    margin: 1.5rem 0 1.2rem 0;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

/*Bootstrap X-Large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
  .container.container-all {
    max-width: 55%;
    margin: 1.5rem auto;
    padding: 2.5rem;
  }

  button.current-btn {
    font-size: 1rem;
    padding: 0.12rem 0.27rem;
  }

  div.container-city {
    text-align: left;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.forecast-container {
    margin: 1.5rem 0 1.2rem 0;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

/*Bootstrap XX-Large devices (larger desktops, 1400px and up)*/
@media screen and (min-width: 1400px) {
  .container.container-all {
    max-width: 48%;
    margin: 1.5rem auto;
    padding: 2.5rem;
  }

  button.current-btn {
    font-size: 1rem;
    padding: 0.12rem 0.27rem;
  }

  div.container-city {
    text-align: left;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.forecast-container {
    margin: 1.5rem 0 1.2rem 0;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

/*Morning mode: light CSS*/
.morning .container-all {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -50%,
    rgb(223, 216, 251) 60%
  );
}
.morning .current-btn {
  background: rgb(151, 185, 20);
  border: 2px solid rgb(151, 185, 20);
}
.morning .current-btn:hover {
  background: rgba(151, 185, 20, 0.65);
  border: 2px solid rgb(151, 185, 20);
}
.morning #search-addon {
  background: rgb(151, 185, 20);
  border: 2px solid rgb(151, 185, 20);
}
.morning #search-addon:hover {
  background: rgba(151, 185, 20, 0.65);
  border: 2px solid rgb(151, 185, 20);
}
.morning .quote {
  color: #97b914;
  text-shadow: 0px 0.3px 0.3px rgba(46, 46, 46, 0.5);
}

/*Night mode: dark CSS*/
.night .container-all {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -60%,
    rgb(27, 10, 91) 45%
  );
}
.night .container-city {
  color: #fff;
}
.night h1 {
  color: rgb(228, 245, 163);
}
.night a {
  color: rgb(184, 164, 255);
}
.night a.active {
  color: rgb(228, 245, 163);
}
.night .weather-info2 {
  background: rgba(255, 255, 255, 0.5);
}
.night .quote {
  color: rgb(228, 245, 163);
  text-shadow: 0px 0.3px 0.3px rgba(46, 46, 46, 0.5);
}
