@media screen and (max-width: 576px) {
  .container-all {
    max-width: 85%;
  }

  button.current-btn {
    font-size: 1.2rem;
    padding: 0.12rem 0.27rem;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container-all {
    max-width: 85%;
  }

  button.current-btn {
    font-size: 1.5rem;
    padding: 0.12rem 0.27rem;
    margin: 0 auto;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1400px) {
  .container-all {
    max-width: 90%;
  }

  div.weather-info {
    max-width: fit-content;
    max-height: min-content;
    margin: 0 auto;
  }
  div.weather-info2 {
    max-width: fit-content;
    max-height: 60%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .container-all {
    max-width: 60%;
  }

  button.current-btn {
    font-size: 1.5rem;
    padding: 0.12rem 0.27rem;
    margin: 0 auto;
  }

  div.weather-info {
    max-width: max-content;
    margin: 0 auto;
  }
  div.weather-info2 {
    max-width: max-content;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
}

a {
  text-decoration: none;
}

a.active {
  color: #000;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}

a.active:hover {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: calc(3.7rem + 0.390625vw);
  margin: 0;
}

h2 {
  display: inline-block;
  font-size: calc(1.7rem + 0.390625vw);
  font-weight: bold;
  margin: 0;
}

div.sun-info {
  margin: 0 auto;
  padding: 0;
}
img.icon-sun {
  display: inline-block;
  justify-self: left;
  margin: 0;
  padding: 0;
  width: 9.5rem;
}

span.country {
  font-size: calc(1.15rem + 0.390625vw);
}

h3 {
  font-size: calc(1rem + 0.390625vw);
  margin: 0;
}

footer p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.container-all {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -50%,
    rgb(180, 163, 245) 100%
  );
  border: none;
  border-radius: 0.94em;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: "Raleway", sans-serif;
  margin: 2.5rem auto 1.25rem auto;
  padding: 1.25rem 2.5rem;
}

div.container {
  padding: 0;
}

.city-search-form {
  display: block;
  margin: 1.88rem 0;
}

.form-control {
  border-radius: 1.25em;
}

#search-addon {
  background: rgb(76, 236, 110);
  border: 2px solid rgb(76, 236, 110);
  border-radius: 1.25em;
  transition: all 200ms ease-in-out;
}

#search-addon:hover {
  background: rgba(76, 236, 110, 0.65);
  border: 2px solid rgb(76, 236, 110);
  cursor: pointer;
  opacity: 0.8;
}

form.city-search-form {
  margin-top: 0 auto;
}

.current-btn {
  background: rgb(76, 236, 110);
  border: 2px solid rgb(76, 236, 110);
  border-radius: 1.25em;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 1.5rem;
  line-height: 1.75rem;
  transition: all 200ms ease-in-out;
}

.current-btn:hover {
  background: rgba(76, 236, 110, 0.65);
  border: 2px solid rgb(76, 236, 110);
  cursor: pointer;
}

div.container-city {
  text-align: center;
}
div.city-weather {
  display: inline-block;
  text-align: left;
}

.degree {
  font-size: 1.61rem;
  position: relative;
  text-decoration: none;
  top: -1.2rem;
  vertical-align: baseline;
}

.country {
  display: inline-block;
  font-size: calc(0.9rem + 0.390625vw);
}

.date {
  font-size: calc(0.9rem + 0.390625vw);
  margin: 0;
}

.min-max-temp {
  background: #fff;
  border: none;
  border-radius: 3.75em;
  color: #000;
  display: block;
  font-size: calc(0.69rem + 0.390625vw);
  list-style-type: none;
  margin: 0 auto;
  min-width: min-content;
  max-width: max-content;
  opacity: 0.8;
  text-align: center;
  padding: 0.94rem 0.63rem;
}

div.weather-info2 {
  padding-bottom: 1.5rem;
}
.weather-forecast {
  background: #fff;
  border: none;
  border-radius: 3.75rem;
  color: #000;
  display: block;
  font-size: calc(0.69rem + 0.390625vw);
  list-style-type: none;
  margin: 0 auto;
  opacity: 0.8;
  padding: 1.88rem 0.63rem;
  text-align: center;
}

.wea-icon {
  font-size: 2rem;
  color: rgb(236, 110, 76);
}

.quote {
  color: #000;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: calc(1.25rem + 0.390625vw);
  font-weight: 500;
  max-height: fit-content;
  padding-top: 0.63rem;
  text-align: center;
  text-shadow: 0px 0.2px 0.2px rgba(0, 0, 0, 0.5);
  transition: all 600ms ease-in-out;
}

.quote:hover {
  transform: scale(1.1);
  color: rgb(76, 236, 110);
}

/*.icon-sun {
  color: rgb(246, 180, 43);
  font-size: 9rem;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.27);
  transition: 1.5s;
}

.icon-sun:hover {
  color: rgb(246, 180, 43);
  transform: rotate(380deg);
}*/
